.image-background{
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-left: 0;
  width: 100%;
  height: 1%;
  object-fit: cover;
  overflow: hidden;
}

.gif-photo1{
  display: flex;
  flex-direction: column;
  width:30%;
  position:absolute;
  left: 3020%px;
  top: 30%;
  z-index: 1;
}

.gif-photo2{
  display: flex;
  flex-direction: column;
  width: 30%;
  position: absolute;
  top: 30%;
  right: 2%;
  z-index: 1;
}

.title-frame{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
  left: 50%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border: 3px solid white;
  padding: 2%;
  padding-bottom: 80px;
}

.title-comments{
  font-size: 32px;
  font-weight: bold;
  font-family: 'Pixelify Sans', sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.title-button{
  font-size: 20px;
  font-weight: bold;
  margin-left:  40%;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  padding: 2%;
}


@media (max-width: 726px){

  .title-frame{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 40%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
    padding-bottom: 5px;
  }

  .title-comments{
    font-size: 14px;
    font-family: 'Pixelify Sans', sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
  }

  .title-button{
    font-size: 8px;
    margin-left:  35%;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 5px;
    padding: 5px;
  }

}


