

.header{
  display: flex;
  flex-direction: row;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 7rem;
  z-index: 5;
}

.logo-photo{
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.logo-name{
  display: flex;
  flex-direction: column;
}

.logo-title{
  display: flex;
  flex-direction: row;
  width: 150%;
  height: 50%;
  margin-top: 10px;
  margin-left: 0;
}

.logo-first-name {
  font-size: 2.4rem;
  font-weight: bold;
  font-family:sans-serif;
  color: rgb(0, 191, 255);
  padding-top: 10px;
  padding-bottom: 0;
}

.logo-image{
  width: 90px;
  height: 70px;
  object-fit: cover;
  padding-bottom: 0;

}

.logo-last-name{
  font-size: 0.89em;
  font-weight: bold;
  max-width: 100%;
  color: gray;
}

