.courses{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.courses-frame{
  display: flex;
  flex-direction: column;
  width: 45%;
  position: relative;
  overflow: hidden;
   border-radius: 2.6%;
  margin-right: 100px;
   border: 2px solid rgb(251, 251, 251);
}

.courses-image{
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 2.3%;

}

.courses-button{
  position: absolute;
  top: 1%;
  right: 1%;
}

.courses-button-icon{
  font-size: 32px;
  font-family: 'Pixelify Sans', sans-serif;;
  width: 150px;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid rgb(251, 251, 251);
  color: rgb(255, 255, 255);
  background-color: rgba(0,0,0,0.4);
}

.footer{
  display: flex;
  width:370px;
  flex-direction: row;
  background-color: white;
  margin-top: 100px;
}

.icons{
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-left: 20px;
  padding: 10px;
}

/* Android View */

@media (max-width: 726px){

  .courses{
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  width: 380px;
  height: 100%;
  overflow: hidden;
  object-fit: cover;

}

.courses-frame{
  display: flex;
  flex-direction: column;
  width: 45%;
  position: relative;
  overflow: hidden;
   border-radius: 2.6%;
  margin-right: 10px;
   border: 1px solid rgb(251, 251, 251);
}

.courses-image{
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 2.3%;

}

.courses-button{
  position: absolute;
  top: 1%;
  right: 0%;
}

.courses-button-icon{
  font-size: 13px;
  font-family: 'Pixelify Sans', sans-serif;
  width: 60px;
  height: 26px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgb(251, 251, 251);
  color: rgb(255, 255, 255);
  background-color: rgba(0,0,0,0.7);

  .footer{
  display: flex;
  width:100px;
  flex-direction: row;
  background-color: white;
  margin-top: 5px;
}

.icons{
  width: 10px;
  height: 30px;
  object-fit: cover;
  margin-left: 20px;
  padding: 5px;
}
}
}